<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
<body>

<div th:replace="fragments :: header"></div>

<div th:replace="fragments :: messages"></div>

<main class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-8">

            <form id="eventForm" method="post" th:action="${actionUrl}" th:object="${event}">
                <input type="hidden" th:field="*{uid}" />
                <div class="form-group">
                    <label th:for="title">Title</label>
                    <input th:errorclass="is-invalid" class="form-control" th:field="*{title}" required="required" />
                    <div class="invalid-feedback" th:errors="*{title}"></div>
                </div>
                <div class="form-group">
                    <label th:for="description">Date</label>
                    <input id="datepicker" th:errorclass="is-invalid" class="form-control" th:field="*{startDate}" required="required" />
                    <div class="invalid-feedback" th:errors="*{startDate}"></div>
                </div>
                <div class="form-group">
                    <label th:for="location">Location</label>
                    <input th:errorclass="is-invalid" class="form-control" th:field="*{location}" />
                    <div class="invalid-feedback" th:errors="*{location}"></div>
                </div>
                <div class="form-group">
                    <label th:for="description">Description</label>
                    <textarea type="textarea" rows="3" th:errorclass="is-invalid" class="form-control" th:field="*{description}" required="required"></textarea>
                    <div class="invalid-feedback" th:errors="*{description}"></div>
                </div>
                <input type="submit" value="Save" class="btn btn-primary" />
            </form>
        </div>
    </div>
</main>

<div th:insert="fragments :: scripts"></div>

<script type="text/javascript">
  $(function() {
    $("#datepicker").datepicker();
  });
</script>

<style type="text/css">
    textarea {
       resize: none;
    }
</style>

</body>
</html>