<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
<body>

<div th:replace="fragments :: header"></div>

<main th:if="${event}" class="container-fluid">
    <h1 th:text="${event.title}"></h1>

    <div class="event-time-loc">
        <p th:text="${event.startDate}"></p>
        <p th:text="${event.location}"></p>
    </div>

    <p class="event-description" th:text="${event.description}"></p>

    <div>
        <a class="btn btn-primary" th:href="@{${'/events/update/'+event.uid}}">
            <i class="fas fa-edit"></i> Edit</a>
    </div>
</main>

<div th:insert="fragments :: scripts"></div>

</body>
</html>