<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
<body>

<div th:replace="fragments :: header"></div>

<div th:replace="fragments :: messages"></div>

<main th:if="${event}" class="container-fluid">

    <ul class="list-group mb-3">
        <li class="list-group-item">
            <h4 class="mb-1">Title</h4>
            <p th:text="${event.title}"></p>
        </li>
        <li class="list-group-item">
            <h4 class="mb-1">Date</h4>
            <p th:text="${event.startDate}"></p>
        </li>
        <li class="list-group-item">
            <h4 class="mb-1">Location</h4>
            <p th:text="${event.location}"></p>
        </li>
        <li class="list-group-item">
            <h4 class="mb-1">Description</h4>
            <p th:text="${event.description}"></p>
        </li>
    </ul>

    <div>
        <a class="btn btn-primary" th:href="@{${'/events/update/'+event.uid}}">
            <i class="fas fa-edit"></i> Edit</a>
    </div>
</main>

<div th:insert="fragments :: scripts"></div>

</body>
</html>