<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
<body>

<div th:replace="fragments :: header"></div>

<div th:replace="fragments :: messages"></div>

<main class="container-fluid">

    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th>Date</th>
                <th>Event</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="event : ${events}">
                <td th:text="${{event.startDate}}"></td>
                <td><a th:href="@{${'/events/detail/'+event.uid}}" th:text="${event.title}"></a></td>
            </tr>
        </tbody>
    </table>

</main>

<div th:insert="fragments :: scripts"></div>

</body>
</html>