<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title th:text="${title}"></title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootswatch-lumen/4.0.0/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/jquery-ui/jquery-ui.min.css}"/>
</head>
<body>

<div th:fragment="header">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" th:href="@{/}">Event Log</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" th:if="${#authorization.expression('isAuthenticated()')}">
                    <form th:action="@{/logout}" method="post" name="logoutForm"></form>
                    <a class="nav-link" href="#" onclick="document.logoutForm.submit()">Log Out</a>
                </li>
                <li class="nav-item" th:if="${#authorization.expression('!isAuthenticated()')}">
                    <a class="nav-link" th:href="@{/register}">Register</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid mt-4">
        <div th:if="${message != null}"
             th:with="parts=${#strings.arraySplit(message, '|')}"
             th:attr="class=${'alert alert-' + parts[0]}"
             th:text="${parts[1]}"
             role="alert">
        </div>
    </div>

</div>



<div th:fragment="footer">
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</div>

</body>
</html>