<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<h1 th:text="${title}"></h1>

<form method="post" th:action="@{/register}" th:object="${registerForm}" style="width:600px;">
    <div class="form-group">
        <label th:for="email">Email</label>
        <input class="form-control" th:field="*{email}" />
        <div class="error" th:errors="*{email}"></div>
    </div>
    <div class="form-group">
        <label th:for="password">Password</label>
        <input class="form-control" th:field="*{password}" type="password" />
        <div class="error" th:errors="*{password}"></div>
    </div>
    <div class="form-group">
        <label th:for="verifyPassword">Verify Password</label>
        <input class="form-control" th:field="*{verifyPassword}" type="password" />
        <div class="error" th:errors="*{verifyPassword}"></div>
    </div>

    <input type="submit" value="Register" />
</form>

</body>
</html>